<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poi.mapper.GongWeiFuGaiLvDao">
    <insert id="addFuGaiLV" parameterType="com.poi.polo.GongWeiFuGaiLv"> <!-- select是reultType 代表返回值类型，而我是insert 不反回，所以是parameterType，代表参数类型 -->
        insert into gongweifugailv
        (jiancegongwei,quyu,jianceshijian)
        select #{jianCeGongWei},#{quYu},#{jianCeShiJian} from dual
        where not exists (
        select jiancegongwei,jianceshijian from gongweifugailv where jiancegongwei = #{jianCeGongWei} and left(jianceshijian,4) = left (#{jianCeShiJian},4)
        );
        <!--一年内的重复工位不插进表里面 -->
        alter table gongweifugailv drop id;
        alter table gongweifugailv add id bigint primary key not null auto_increment first;
    </insert>
    <select id="selectAllGongWeiFuGaiLv" resultType="com.poi.polo.GongWeiFuGaiLv">
        select id,jiancegongwei,quyu,jianceshijian from gongweifugailv order by id desc
    </select>

    <select id="selectGongWeiFuGaiLvByYear" resultType="com.poi.polo.GongWeiFuGaiLv">
        select id,jiancegongwei,quyu,jianceshijian from gongweifugailv where  left (jianceshijian,4)=#{year}
    </select>

     <delete id="">

     </delete>

    <select id="selectGongWeiShuByYueFen" resultType="java.lang.Integer" parameterType="String"><!--不管什么查询 都必须返回resultType或resultMap的值 否则就会报错-->
        select count(id) from gongweifugailv where left(jianceshijian,4)=#{year} and substring(jianceshijian,6,2)=#{yueFen} ;
        <!--考虑到后面使用时 传参是年份和月份分开传 所以这里的年份和月份也要分开-->  <!--根据年月判断特定月份的已检测工位数-->
    </select>

    <select id="SelectGongWeiFUGaiLvByQuyu" resultType="java.lang.Integer" parameterType="String" >
        select count(id) from gongweifugailv where left(jianceshijian,4)=#{year} and substring(jianceshijian,6,2)=#{yueFen} and quyu=#{quYu}
    </select>
</mapper>