<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poi.mapper.GongWeiZhiLiangShengTaiYiShiDao">
    <insert id="addShengTaiYiShiData" parameterType="com.poi.polo.GongWeiZhiLiangShengTaiYiShi"> <!-- select是reultType 代表返回值类型，而我是insert 不反回，所以是parameterType，代表参数类型 -->
        insert into gongweizhiliangshengtaiyishizhuangtai
        (gongweihao,shenhequyu,pinjiariqi,dixianyishi,zerenyishi,zhurenwengyishi,gaijinyishi) values
        (#{gongWeiHao},#{shenHeQuYu},#{pinJiaRiQi},#{diXianYiShi},#{zeRenYiShi},#{zhuRenWengYiShi},#{gaiJinYiShi});
        alter table gongweizhiliangshengtaiyishizhuangtai drop id;
        alter table gongweizhiliangshengtaiyishizhuangtai add id bigint primary key not null auto_increment first;
    </insert>

    <select id="selectShengTaiYiShiDataByDate" resultType="com.poi.polo.GongWeiZhiLiangShengTaiYiShi">
        select id,gongweihao,shenhequyu,pinjiariqi,dixianyishi,zerenyishi,zhurenwengyishi,gaijinyishi,zongfen,jigefen from gongweizhiliangshengtaiyishizhuangtai where left(pinjiariqi,7) = #{date}
    </select>

    <delete id="deleteGongWeiFuHeById">
        delete from gongweifuhelv where id = #{id};
        alter table gongweifuhelv drop id;
        alter table gongweifuhelv add id bigint primary key not null auto_increment first;
    </delete>

    <select id="selectALLShengTaiYiShiData" resultType="com.poi.polo.GongWeiZhiLiangShengTaiYiShi">
        select id,gongweihao,shenhequyu,pinjiariqi,dixianyishi,zerenyishi,zhurenwengyishi,gaijinyishi,zongfen,jigefen from gongweizhiliangshengtaiyishizhuangtai
    </select>
</mapper>