<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poi.mapper.Model1Dao">
    <insert id="addModel1" parameterType="com.poi.polo.Model1"> <!-- select是reultType 代表返回值类型，而我是insert 不反回，所以是parameterType，代表参数类型 -->
        insert into model1(department,workshop,process,reservedPortion,realScores,percentage,date) values (#{department},#{workshop},#{process},#{reservedPortion},#{realScores},#{percentage},#{date})
    </insert>

    <select id="selectModel1ByDate" resultType="com.poi.polo.Model1">
        select department,workshop,process,reservedPortion,realScores,percentage,date from model3 where date= #{date}
    </select>
</mapper>