<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poi.mapper.WenTiQinDanDao">
    <insert id="addWenTi" parameterType="com.poi.polo.WenTiQinDan"> <!-- select是reultType 代表返回值类型，而我是insert 不反回，所以是parameterType，代表参数类型 -->
        insert into wentiqindan
        (quyu,bianhuadian,wentimiaoshu,yuanyinfenxi,gaijincuoshi,date,jihuawanchenriqi,zhuangtai,fuzeren) values
        (#{quYu},#{bianHuaDian},#{wenTiMiaoShu},#{yuanYinFenXi},#{gaiJinCuoShi},#{date},#{jiHuaWanChenRiQi},#{zhuangTai},#{fuZeRen});
        alter table wentiqindan drop id;
        alter table wentiqindan add id bigint primary key not null auto_increment first;
    </insert>
    <select id="selectALLWenTi" resultType="com.poi.polo.WenTiQinDan">
        select id,quyu,bianhuadian,wentimiaoshu,yuanyinfenxi,gaijincuoshi,date,jihuawanchenriqi,zhuangtai,fuzeren from wentiqindan order by id desc
    </select>

    <select id="selectWenTiByDate" resultType="com.poi.polo.WenTiQinDan">
        select id,quyu,bianhuadian,wentimiaoshu,yuanyinfenxi,gaijincuoshi,date,jihuawanchenriqi,zhuangtai,fuzeren from wentiqindan where  left(date,7)=#{date}
    </select>

    <update id="changeZhuangTai" >
        update wentiqindan set zhuangtai=#{zhuangTai} where id=#{id}
    </update>


</mapper>